html,
body,
#root,
.app {
  height: 100%;
}

#root {
  background-color: rgb(129, 152, 183);
}

.app {
  font-size: 0.875rem;
  background-color: white;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  text-align: center;
}
